.category-image-container {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;

  margin-left: 0px;
  padding-left: 0px;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-result-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-repeat: no-repeat;
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

@media (min-width: 769px) {
  .game-result-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  }
}

.game-result-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs-list {
  list-style-type: none;
  color: white;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.thumbnails-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
